<div>
    <h2 class="sub-header">
        Welfare State Analytics.<br/>Text Mining and Modeling Swedish Politics, Media & Culture, 1945-1989 (WeStAc)
    </h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                The project will digitise literature, curate already digitised collections, and perform research via probabilistic methods and text mining models. WeStAc will both digitise and curate three massive textual datasets—in all, Big Data of almost four billion tokens—from the domains of Swedish politics, news media and literary culture during the second half of the 20th century.
                <br/><br/>
                WeStAc will establish a scholarly ecosystem of digitisation, curation and research with a twofold objective: (A.) to develop digital curation work, including the preparation of massive datasets for research at the library, and (B.) to develop digital history scholarship and perform DH-inspired textual research
            </p>
            <a class="explore-button" href="https://www.westac.se/" target="_blank">Project website ▶</a>

            <div class="people-box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                    <li><a href="https://www.umu.se/personal/fredrik-noren/">Fredrik Norén</a></li>
                    <li><a href="https://www.umu.se/personal/andreas-marklund/">Andreas Marklund</a></li>
                    <li><a href="https://www.umu.se/personal/tomas-skotare/">Tomas Skotare</a></li>
                </ul>
            </div>
        </div>

        <div class="right-container">
            <div class="project-image">
                <img class="screenshot-image" src="assets/westac-wordcloud.png" />
                <span>Image text</span>
            </div>

            <p class="info-box">
                The dataset of “Politics” contains already digitised <span class="text-highlight">Swedish Governmental Reports (SOU)</span> and material from the Swedish Parliament, “Media” contains <span class="text-highlight">two digitised Swedish newspapers</span>, Aftonbladet and Dagens Nyheter, and “Culture”—which will be digitised—contains <span class="text-highlight">a literary journal, Bonniers Litterära magasin</span> and <span class="text-highlight">all Swedish novels from 1945 to 1989</span>.
            </p>
            <div class="project-image">
                <img class="screenshot-image" src="assets/SOU_kollage-1440x810.jpg" />
                <span>Image text</span>
            </div>
            
        </div>
    </div>
</div>