<div>
    <h2 class="sub-header">Yrkesrum</h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                <span class="sv">En visualisering av arbetskraftens rörelse mellan yrkessektorer inom Sverige.</span>
                <br/><br/>
                A visualization of workforce movement between occupational sectors within Sweden.
            </p>
            <a class="explore-button" href="https://yrkesrum.humlab.umu.se/" target="_blank">Explore Application ▶</a>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li>
                        <a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a>
                    </li>
                </ul>
            </div>

            <div class="box cooperation">
                <ul>
                    <li>Rikard Eriksson</li>
                    <li>Emelie Hane-Weijman</li>
                    <li><a href="http://https://www.umu.se/centrum-for-regionalvetenskap/" target="_blank">Centrum för regionalvetenskap</a></li>
                </ul>
            </div>
            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <a href="https://mmw.wallenberg.org/" target="_blank">
                        <img src="assets/logoMMW.svgz" alt="Swedish research council logotype">
                    </a>
                    <a href="https://vr.se" target="_blank">
                        <img src="assets/vr.png" alt="Swedish research council logotype">
                    </a>
                </div>
            </div>
        </div>
        
        <div class="right-container">
            <div class="project-image">
                <img class="screenshot-image" src="assets/yrkesrum-screenshot-1.png" />
                <span>Network graph of occupational movement</span>
            </div>
        </div>
    </div>
</div>