<div>
    <h2 class="sub-header">Yrkesrum</h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                A visualization of workforce movement between occupational sectors within Sweden.
            </p>
            <a class="explore-button" href="https://yrkesrum.humlab.umu.se/" target="_blank">Explore Application ▶</a>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li>
                        <a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="right-container">
            <div class="project-image">
                <img class="screenshot-image" src="assets/yrkesrum-screenshot-1.png" />
                <span>Network graph of occupational movement</span>
            </div>
        </div>
    </div>
</div>