<div>
    <h2 class="sub-header">Rubrik</h2>
    <h4 class="year">20XX - 20XX</h4>

    <div class="main-container-one-col">
            <p class="desc-text">
                <span class="sv">
                    Svensk text om engelsk sida
                </span>
                <br/><br/>
                English text, if only in swedish input here
            </p>

            <a class="explore-button" href="https://www.umu.se/forskning/projekt/iaccept-soft-surveillance--between-acceptance-and-resistance/" 
            target="_blank">Read More ▶ <!-- Läs mer --></a>

            <div class="box humlab">
                <h3>People @ Humlab<!-- Personer på Humlab --></h3>
<!--                 add this div class=two-col-people if previous humlabers should be included
 -->                <div class="two-col-people">
                    <ul>
                        <!-- Remove people not included in project -->
                        <li><a href="https://www.umu.se/personal/andreas-marklund/">Andreas Marklund</a></li>
                        <li><a href="https://www.umu.se/personal/anna-bladh/">Anna Bladh</a></li>
                        <li><a href="https://www.umu.se/personal/carl-erik-engqvist/">Carl-Erik Engqvist</a></li>
                        <li><a href="https://www.umu.se/personal/cenk-demiroglu/">Cenk Demiroglu</a></li>
                        <li><a href="https://www.umu.se/en/staff/coppelie-cocq/">Coppélie Cocq</a></li>
                        <li><a href="https://www.umu.se/personal/fredrik-noren/">Fredrik Norén</a></li>
                        <li><a href="https://www.umu.se/personal/henrik-norin/">Henrik Norin</a></li>
                        <li><a href="https://www.umu.se/personal/jim-robertsson/">Jim Robertsson</a></li>
                        <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                        <li><a href="https://www.umu.se/personal/jon-svensson/">Jon Svensson</a></li>
                        <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                        <li><a href="https://www.umu.se/personal/karin-danielsson/">Karin Danielsson</a></li>
                        <li><a href="https://www.umu.se/personal/mari-jonsson/">Mari Jonsson</a></li>
                        <li><a href="https://www.umu.se/personal/maria-c-eriksson/">Maria Eriksson</a></li>
                        <li><a href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                        <li><a href="https://www.umu.se/personal/per-holm/">Per Holm</a></li>
                        <li><a href="https://www.umu.se/personal/rebecka-weegar/">Rebecka Weegar</a></li>
                        <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                        <li><a href="https://www.umu.se/personal/sandra-lundstrom/">Sandra Lundström</a></li>
                        <li><a href="https://www.umu.se/personal/satish-stromberg/">Satish Strömberg</a></li>
                        <li><a href="https://www.umu.se/personal/tomas-skotare/">Tomas Skotare</a></li>

                        <li><a href="https://www.umu.se/personal/marita-nilsson/">Marita Nilsson</a></li>
                    </ul>

                    <!-- Remove if no previous -->
                    <ul>
                        <li><span>Previous <!-- Tidigare Humlabbare --></span></li>
                        <li>Add names of previous humlabers</li>
                    </ul>
                </div>                
            </div>

            <div class="box cooperation">
                <h3>In cooperation with<!-- Sammarbetspartners --></h3>
                <ul>
                    <li></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier<!-- Finansiärer --></h3>
                <div class="financier-logo">
                    <a href="https://maw.wallenberg.org/" target="_blank">
                        <img src="assets/stiftelsenMAWM-logo.svgz" alt="Stiftelsen Marcus och Amalia Wallenbergs Minnesfond logo">
                    </a>
                </div>
            </div>
        
    </div>
</div>