<!-- Template of a project site, example of what a site could
contain. Pick and choose. -->
<div>
    <!-- Header for project site -->
    <h2 class="sub-header">Project Headline</h2>

    <!-- Main container to display content -->
    <div class="main-container">

        <!-- Left side -->
        <div class="left-container">

            <!-- Introduction text to project -->
            <p class="desc-text">Insert text here</p>
            <!-- Button to explore application or website of project -->
            <a class="explore-button" href="" target="_blank">Explore Application ▶</a>
            
            <!-- Template for display of images from projects / Screenshots -->
            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <!-- List of people currently working @ Humlab,
                delete people not involved in project -->
            <div class="people-box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/andreas-marklund/">Andreas Marklund</a></li>
                    <li><a href="https://www.umu.se/personal/anna-bladh/">Anna Bladh</a></li>
                    <li><a href="https://www.umu.se/personal/carl-erik-engqvist/">Carl-Erik Engqvist</a></li>
                    <li><a href="https://www.umu.se/personal/cenk-demiroglu/">Cenk Demiroglu</a></li>
                    <li><a href="https://www.umu.se/en/staff/coppelie-cocq/">Coppélie Cocq</a></li>
                    <li><a href="https://www.umu.se/personal/fredrik-noren/">Fredrik Norén</a></li>
                    <li><a href="https://www.umu.se/personal/henrik-norin/">Henrik Norin</a></li>
                    <li><a href="https://www.umu.se/personal/jim-robertsson/">Jim Robertsson</a></li>
                    <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                    <li><a href="https://www.umu.se/personal/jon-svensson/">Jon Svensson</a></li>
                    <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                    <li><a href="https://www.umu.se/personal/karin-danielsson/">Karin Danielsson</a></li>
                    <li><a href="https://www.umu.se/personal/mari-jonsson/">Mari Jonsson</a></li>
                    <li><a href="https://www.umu.se/personal/maria-c-eriksson/">Maria Eriksson</a></li>
                    <li><a href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                    <li><a href="https://www.umu.se/personal/per-holm/">Per Holm</a></li>
                    <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                    <li><a href="https://www.umu.se/personal/sandra-lundstrom/">Sandra Lundström</a></li>
                    <li><a href="https://www.umu.se/personal/satish-stromberg/">Satish Strömberg</a></li>
                    <li><a href="https://www.umu.se/personal/tomas-skotare/">Tomas Skotare</a></li>

                    <li><a href="https://www.umu.se/personal/marita-nilsson/">Marita Nilsson</a></li>
                </ul>
            </div>

                <!-- List of people previously worked @ Humlab
            Fill in list as needed. -->
            <div class="people-box previously">
                <h3>Previously working @ Humlab</h3>
                <ul>
                    <li>Anna Foka</li>
                    <li>Stefan Gelfgren</li>
                    <li>Fredrik Palm</li>
                    <li>Marita Nilsson</li>
                    <li>Filip Allberg</li>
                </ul>
            </div>
        </div>

        <!-- Right side -->
        <div class="right-container">

            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <!-- Info box - Small text with background -->
            <p class="info-box">Insert text here</p>
            
            <!-- Videoframe for example Youtube videos of project -->
            <div class="videoframe">
                <iframe src="https://www.youtube.com/embed/kmNcoNoO2ec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>