<div>
    <h2 class="sub-header">Project Headline</h2>
    <h4 class="year">XXXX - XXXX</h4>
    <div class="main-container">
        <div class="left-container">

            <p class="desc-text">
                <span class="sv">Här ska svenska beskrivningen vara</span>
                <br/><br/>
                Insert text here
                <br/><br/><a href="https://" target="_blank">Read more</a>
            </p>

            <a class="explore-button" href="" target="_blank">Explore Application ▶</a>
            
            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
<!--                 add this div class=two-col-people if previous humlabers should be included
 -->                <div class="two-col-people">
                    <ul>
                        <li><a href="https://www.umu.se/personal/andreas-marklund/">Andreas Marklund</a></li>
                        <li><a href="https://www.umu.se/personal/anna-bladh/">Anna Bladh</a></li>
                        <li><a href="https://www.umu.se/personal/carl-erik-engqvist/">Carl-Erik Engqvist</a></li>
                        <li><a href="https://www.umu.se/personal/cenk-demiroglu/">Cenk Demiroglu</a></li>
                        <li><a href="https://www.umu.se/en/staff/coppelie-cocq/">Coppélie Cocq</a></li>
                        <li><a href="https://www.umu.se/personal/fredrik-noren/">Fredrik Norén</a></li>
                        <li><a href="https://www.umu.se/personal/henrik-norin/">Henrik Norin</a></li>
                        <li><a href="https://www.umu.se/personal/jim-robertsson/">Jim Robertsson</a></li>
                        <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                        <li><a href="https://www.umu.se/personal/jon-svensson/">Jon Svensson</a></li>
                        <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                        <li><a href="https://www.umu.se/personal/karin-danielsson/">Karin Danielsson</a></li>
                        <li><a href="https://www.umu.se/personal/mari-jonsson/">Mari Jonsson</a></li>
                        <li><a href="https://www.umu.se/personal/maria-c-eriksson/">Maria Eriksson</a></li>
                        <li><a href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                        <li><a href="https://www.umu.se/personal/per-holm/">Per Holm</a></li>
                        <li><a href="https://www.umu.se/personal/rebecka-weegar/">Rebecka Weegar</a></li>
                        <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                        <li><a href="https://www.umu.se/personal/sandra-lundstrom/">Sandra Lundström</a></li>
                        <li><a href="https://www.umu.se/personal/satish-stromberg/">Satish Strömberg</a></li>
                        <li><a href="https://www.umu.se/personal/tomas-skotare/">Tomas Skotare</a></li>

                        <li><a href="https://www.umu.se/personal/marita-nilsson/">Marita Nilsson</a></li>
                    </ul>

                    <ul>
                        <li><span>Previous</span></li>
                        <li>Add names of previous humlabers</li>
                    </ul>
                </div>                
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>People</li>
                    <li>or other</li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <a href="https://" target="_blank">
                        <img src="assets/" alt="">
                    </a>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="right-container">

            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <!-- Info box - Small text with background -->
            <p class="info-box">Insert text here</p>
            
            <!-- Videoframe for example Youtube videos of project -->
            <div class="videoframe">
                <iframe src="https://www.youtube.com/embed/kmNcoNoO2ec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>