<div>
    <h2 class="sub-header">Queer Perspectives on Automated Facial Analysis Technology <br/>(Queer AI)</h2>
    <h4 class="year">2022 - </h4>
    <div class="main-container">
        <div class="left-container">

            <p class="desc-text">
                <span class="sv">Detta projekt syftar till att identifiera aktuell forskning om 
                    skärningspunkterna mellan FA (Automated facial analysis) och queerpositioner 
                    och identifieringar, och/eller forskning om FA från queerteoretiska utgångspunkter. 
                    I detta ingår att genomföra en litteraturgenomgång av aktuell forskning inom området. 
                    Vi kommer också att etablera ett lokalt, nationellt och internationellt 
                    forskningsnätverk som är engagerat kring frågor om risker och möjligheter med 
                    automatiserad ansiktsanalysteknik (FA) ur queerperspektiv. Humlabs offentliga Talk- 
                    and Share-program kommer att fungera som en plattform för att bygga och koordinera ett 
                    nätverk med inbjudna talare från forskare inom genusvetenskap, digital humaniora, informatik, 
                    datavetenskap, medievetenskap, etnologi och andra relevanta områden och discipliner.</span>
                <br/><br/>
                Automated facial analysis (FA) technologies - such as facial detection and facial recognition - 
                stand out as central in discussions about Artificial Intelligence's (AI) impact on human beings. 
                AI is intertwined with both the most mundane and the most critical aspects of human life, 
                and image detection and classification represents a pertinent domain where we can see a 
                tight coupling of human identity and computation. In previous research on automatic gender 
                recognition, the classification of gender by FA technologies, has raised potential concerns 
                around issues of racial and gender bias (e.g. Schuerman et al 2019). Research on FA from queer 
                perspectives is still limited, but the results in studies with focus on queer identity and 
                perspectives points towards potential risks. For an example, Schuerman et al. (2019) found 
                that FA services performed consistently worse on transgender individuals and were universally 
                unable to classify non-binary genders. 
                <br/><br/>
                </p>

            <a class="explore-button" href="https://play.umu.se/playlist/dedicated/105250/0_qwbiscsy/0_lqdnclpb" target="_blank">Humlab Talk ▶</a>
            
            <div class="box humlab">
                <h3>People @ Humlab</h3>
<!--                 add this div class=two-col-people if previous humlabers should be included
 -->                <div class="two-col-people">
                    <ul>
                        <li><a href="https://www.umu.se/en/staff/coppelie-cocq/">Coppélie Cocq</a></li>
                        <li><a href="https://www.umu.se/personal/karin-danielsson/">Karin Danielsson</a></li>
                    </ul>

                    <ul>
                        <li><span>Previous</span></li>
                        <li>Evelina Liliequist</li>
                    </ul>
                </div>                
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>Evelina Liliequist</li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <p>The Faculty of Arts and Humanities, Umeå University</p>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="right-container">

            <!-- Info box - Small text with background -->
            <p class="info-box"><span>Accepted for publication.</span><br/>
                Danielsson, K., Aler Tubella, A., Liliequist, E., & Cocq, C. 
                Queer Eye on AI: Binary systems vs fluid identities, 
                Handbook of Critical Studies of Artificial Intelligence, 
                Edward Elgar Publishers. Editor Simon Lindgren (UmU). 
            </p>

            <div class="info-box events">Previous events:
                <ul>
                    <li><a href="https://www.umu.se/en/events/humlab-talk-queer-in-ai_11398958/" target="_blank">Queer in AI</a></li>
                    <li><a href="https://www.umu.se/en/events/humlab-talk-how-we-teach-algorithms-identity-_11162212/" target="_blank">How We Teach Algorithms Identity</a></li>
                    <li><a href="https://www.umu.se/en/events/humlab-talk-the-whole-thing-smacks-of-gender_11286200/" target="_blank">The Whole Thing Smacks Of Gender</a></li>
                </ul>
            
            </div>
        </div>
    </div>
</div>