<div>
    <h2 class="sub-header">Utopia</h2>

    <div class="main-container">
        <div class="left-container">
            <div class="container-content">
                <p class="desc-text">
                    Projektet använder spelifiering och barns delaktighet för att ta fram ett innovativt digitalt demokrativerktyg.

                    I det interaktiva spelet Utopia World är utgångspunkten ”vi kommer längre och når högre om vi samarbetar”. 

                    Projektets primära målgrupper är barn i åldrarna 9-13 (åk 4-6) samt aktörer som jobbar med demokratimetod- utveckling och teknologibaserad inlärning för barn.
                </p>

                <img class="screenshot-image" src="assets/utopia/utopia_ar_bast.png" />
                <br /><br />
                <a href="https://utopia-world.weebly.com/" target="_blank"><div class="explore-button">Project Website ▶</div></a>

                <a href="https://mattislindmark.github.io/testzone/UtopiaWGLbeta3/index.html" target="_blank"><div class="explore-button">Play the game in your browser ▶</div></a>

                <br />
                <p class="info-box">
                    Spelet erbjuder upplevelsebaserat lärande och deliberativ pedagogik. Detta genom en kombination av ett analogt och digitalt spel med interaktiva inslag.     
                </p>
                

                <div class="people-box">
                    <h3>People @ Humlab</h3>
                    <ul>
                        <li><a class="people-link" href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/carl-erik-engqvist/">Carl-Erik Engqvist</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="container-content">
                
                <div class="project-image">
                    <img class="screenshot-image" src="assets/utopia/1473327849.png" />
                    <span>Screenshot from (the game) Utopia</span>
                </div>
                <br />
                
                <div class="project-image">
                    <img class="screenshot-image" src="assets/utopia/1479722783.png" />    
                    <span>Screenshot from (the game) Utopia</span>
                </div>
                <br />
                
                <div class="project-image">
                    <img class="screenshot-image" src="assets/utopia/utopiabeta-2016-07-22-155219_orig.jpg" />    
                    <span>Screenshot from (the game) Utopia</span>
                </div>
                <br />
                
            </div>
        </div>
    </div>
</div>