<div>
    <h2 class="sub-header">
        VISP - Visible Speech
    </h2>

    <div class="main-container">
        <div class="left-container">
            <div class="container-content">
                <img class="project-logo" src="assets/visp/VISP-logo-black.png" />
                <p class="desc-text">
                    The Visible Speech (VISP) infrastructure provides access to a centralized environment for spoken language research that strives to meet both researchers' need for efficient workflows and the legislator's requirement of secured data management.
                </p>
                <p class="desc-text">
                    The infrastructure offers the research community a unified environment for conducting reproducible speech signal processing in an environment that supports national and international collaborations.
                </p>
                <p class="desc-text">
                    Digital archiving of hosted projects is also made easier by a uniform, documented, and transparent directory structure for all projects in VISP, which also reduces barriers to making data available in accordance with the FAIR principles.
                </p>
                <br />
                <a href="https://visp.humlab.umu.se/about" target="_blank"><div class="explore-button">Read More ▶</div></a>
                <br /><br />
                <div class="people-box">
                    <h3>People @ Humlab</h3>
                    <ul>
                        <li><a class="people-link" href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/tomas-skotare/">Tomas Skotare</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="container-content">
                <div class="project-image">
                    <img class="screenshot-image" src="assets/visp/visp-screenshot-1.png" />
                    <span>EMU-WebApp speech analysis tool is one of the integrated applications in the VISP system.</span>
                </div>
                
                <p class="info-box">
                    Due to the high security nature of the VISP system, it is only available to a selection people and projects.
                    But please don't hesitate to get in touch with one of the principal project members if you think the VISP system might be useful to you.
                </p>

                <br />
                <div class="project-image">
                    <img class="screenshot-image" src="assets/visp/screenshot5.png" />
                    <span>All data in the VISP system is version controlled through integration with GitLab.</span>
                </div>

                
            </div>
        </div>
    </div>
</div>