<div>
    <h2 class="sub-header">SEAD BugsCEP Ecocodes</h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">Insert text here</p>
            <a class="explore-button" href="" target="_blank">Explore Application ▶</a>

            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/carl-erik-engqvist/">Carl-Erik Engqvist</a></li>
                    <li><a href="https://www.umu.se/personal/cenk-demiroglu/">Cenk Demiroglu</a></li>
                    <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                    <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                    <li><a href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                    <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                </ul>
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>Philip Buckland</li>
                </ul>
            </div>
        </div>
        
        <div class="right-container">

            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>
            <p class="info-box">Insert text here</p>
        </div>
    </div>
</div>