<div>
    <h2 class="sub-header">IAccept: Soft surveillance - between acceptance and resistance</h2>

    <div class="main-container">

        <div class="left-container">

            <p class="desc-text">Insert text here</p>

            <a class="explore-button" href="" target="_blank">Explore Application ▶</a>
            
            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <div class="two-col-people">
                    <ul>
                        <li><a href="https://www.umu.se/en/staff/coppelie-cocq/">Coppélie Cocq</a></li>
                    </ul>

                    <ul>
                        <li><span>Previous</span></li>
                        <li>Stefan Gelfgren</li>
                    </ul>
                </div>
                
            </div>
        </div>

        <div class="right-container">

            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <p class="info-box">Insert text here</p>
            
        
        </div>
    </div>
</div>