<div>
    <h2 class="sub-header">The digital Periegesis -<br/>
        tracing the places of ancient Greece and the stories associated with them</h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">In this project we aim to trace, map and analyse Pausanias's spatial (re)imagining of Greece: 
                both his representation of the (human) geography of Greece and the spatial structure, or place-boundedness, of his text. 
                This is to identify and reflect on not only how Pausanias describes places and objects within them, but also the 
                spatial organisation of his narrative—how he relates places to each other. <br/>
                Pausanias doesn't simply move through space as if following a route, as he describes (and reinscribes) the layout of 
                ancient sites or locates objects (temples, statues) in situ; he also relates places or objects to others in far-flung locations 
                of the Mediterranean. And, further: he moves through time, as he attributes to those sites or objects (hi)stories of their construction, 
                reimagination or demise. Precisely because issues of space, time and identity are so bound up with each other in the Periegesis, 
                it is impossible to map this narrative by conventional means.
                <br/>Read more at <a href="http://periegesis.org/" target="_blank">http://periegesis.org/</a>
            </p>
            <!-- Button to explore application or website of project -->
            <a class="explore-button" href="https://gis.periegesis.org/" target="_blank">Explore Application ▶</a>
            
            <!-- Template for display of images from projects / Screenshots -->
            <div class="project-image">
                <img src="assets/digital-periegesis/digital-periegesis2.png" alt="">
                <span>Image text</span>
            </div>
            
            <!-- List of people currently working @ Humlab,
                delete people not involved in project -->
            <div class="people-box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/cenk-demiroglu/">Cenk Demiroglu</a></li>
                    <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                </ul>
            </div>

            <!-- List of people previously worked @ Humlab
                 Fill in list as needed. -->
            <div class="people-box previously">
                <h3>People previously working @ Humlab</h3>
                <ul>
                    <li>Anna Foka</li>
                    <li>Filip Allberg</li>
                </ul>
            </div>
        </div>

        <!-- Right side -->
        <div class="right-container">

            <div class="project-image">
                <img src="assets/digital-periegesis/digital-periegesis.png" alt="">
                <span>Image text</span>
            </div>

            <!-- Info box - Small text with background -->
            <p class="info-box">Building on the digitisation efforts of other initiatives, 
                specifically the <span class="text-highlight">Perseus Classical Library and Pelagios, we use the web-based platform Recogito</span> to annotate 
                (i.e. make notes on) Pausanias's text directly, thereby essentially treating the text itself as a database.</p>

            <div class="project-image">
                <img src="assets/digital-periegesis/digital-periegesis-icons.png" alt="">
                <span>Symbology created to be used in GIS-application to visualize Pausanias movement</span>
            </div>                
        </div>
    </div>
</div>