<div>
    <h2 class="sub-header">SEAD - The Strategic Environment Archaeology Database</h2>

    <div class="main-container">
        <div class="left-container">
<!--             <div class="project-logo"> 
                <object data="assets/sead/Sead-logo-animation.svg" type="image/svg+xml"></object>
            </div> -->
            <p class="desc-text">
                SEAD, or the Strategic Environmental Archaeology Database, is a national research infrastructure for archaeology and an international standard database for environmental archaeology data. It is being developed and managed at the Environmental Archaeology Lab (MAL), in collaboration with Humlab at Umeå University, Sweden.
                <br/>Read more at <a href="https://sead.se" target="_blank">https://sead.se</a>
            </p>
            <a class="explore-button" href="https://browser.sead.se" target="_blank">Explore Application ▶</a>
            
            <div class="project-image">
                <img src="assets/sead-screenshot-4.png" />
                <span>Graph of species taxon distribution in an archeological sample</span>
            </div>

            <div class="people-box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                    <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                    <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                </ul>
            </div>

            <div class="people-box colab">
                <h3></h3>
                <ul>
                    <li>Philip Buckland</li>
                </ul>
            </div>
        </div>

        <div class="right-container">
            <div class="project-image">
                <img src="assets/sead-screenshot-2.png" />
                <span>SEAD main interface</span>
            </div>
            
            <p class="info-box">
                The SEAD relational database contains <span class="text-highlight">data essential to our understanding of past environmental and climatic changes</span>, and the human relationship with these changes. The data in SEAD primarily takes the form of biological and chemical/physical proxy data, i.e. fossil frequencies and measured variables derived from soil samples taken from archaeological and natural deposits.
            </p>
            <div class="project-image">
                <img src="assets/sead-screenshot-5.png" />
                <span>SEAD site report</span>
            </div>
            
            <img src="assets/vr.png" alt="">
            <img src="assets/umu-logo-EN.png" alt="">

        </div>
    </div>
</div>