<div>
    <h2 class="sub-header">SEAD - The Strategic Environment Archaeology Database</h2>

    <div class="main-container">
        <div class="left-container">
            <div class="container-content">
                <p class="desc-text">
                    SEAD, or the Strategic Environmental Archaeology Database, is a national research infrastructure for archaeology and an international standard database for environmental archaeology data. It is being developed and managed at the Environmental Archaeology Lab (MAL), in collaboration with Humlab at Umeå University, Sweden.
                    Read more at <a href="https://sead.se" target="_blank">https://sead.se</a>

                    Or explore the application at
                    <a href="https://browser.sead.se" target="_blank">https://browser.sead.se</a>
                </p>
                <a href="https://browser.sead.se" target="_blank"><div class="explore-button">Explore Application ▶</div></a>

                <br />
                <!--<img class="screenshot-image" src="assets/sead-screenshot-3.png" />-->
                
                <div class="people-box">
                    <h3>People @ Humlab</h3>
                    <ul>
                        <li><a class="people-link" href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="container-content">
                <img class="screenshot-image" src="assets/sead-screenshot-2.png" />
                <p class="info-box">
                    The SEAD relational database contains <span class="text-highlight">data essential to our understanding of past environmental and climatic changes</span>, and the human relationship with these changes.The data in SEAD primarily takes the form of biological and chemical/physical proxy data, i.e. fossil frequencies and measured variables derived from soil samples taken from archaeological and natural deposits.
                </p>
                <img class="screenshot-image" src="assets/sead-screenshot-5.png" />
                <img class="screenshot-image" src="assets/sead-screenshot-4.png" />
                
            </div>
        </div>
    </div>
</div>