<div>
    <h2 class="sub-header">ENIDA - Experiencing Nature in the Digital Age</h2>

    <div class="main-container">
        <div class="left-container">
            <div class="container-content">
                <p class="desc-text">
                    This is the end result of an artistic research project. It is a explorative interactive visualization of a journey through nature via a subjective perspective of the hiker. Angles such as technical solutions, interaction design, subjectivity and historical perspective is being explored.

                    <br /><br />
                    Part serious, part tongue-in-cheek.

                    <br /><br />
                    <a href="https://newnatures.org/experiencing-nature-in-the-digital-age/" target="_blank">Read more here</a>
                </p>
                <a href="https://enida.humlab.umu.se/" target="_blank"><div class="explore-button">Explore Application ▶</div></a>

                <br /><br />
                
                <div class="people-box">
                    <h3>People @ Humlab</h3>
                    <ul>
                        <li><a class="people-link" href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="container-content">
                <div class="project-image">
                    <img class="screenshot-image" src="assets/enida-screenshot-1.png" />
                    <span>Screenshot</span>
                </div>
                <br />
                <div class="project-image">
                    <img class="screenshot-image" src="assets/enida-screenshot-2.png" />
                    <span>Screenshot</span>
                </div>
                
                
            </div>
        </div>
    </div>
</div>