<div>
    <h2 class="sub-header">ENIDA - Experiencing Nature in the Digital Age</h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                This is the end result of an artistic research project. It is a explorative interactive visualization of a journey through nature via a subjective perspective of the hiker. Angles such as technical solutions, interaction design, subjectivity and historical perspective is being explored.

                <br /><br />
                Part serious, part tongue-in-cheek.

                <br /><br />
                <a class="text-link" href="https://newnatures.org/experiencing-nature-in-the-digital-age/" target="_blank">Read more here</a>
            </p>
            <a class="explore-button" href="https://enida.humlab.umu.se/" target="_blank">Explore Application ▶</a>
            
            <div class="people-box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                    <li><a href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                    <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                </ul>
            </div>
        </div>
        <div class="right-container">
            <div class="project-image">
                <img src="assets/enida-screenshot-1.png" />
                <span>Screenshot</span>
            </div>
            <div class="project-image">
                <img src="assets/enida-screenshot-2.png" />
                <span>Screenshot</span>
            </div>
        </div>
    </div>
</div>