<div>
    <h2 class="sub-header">Digitala modeller</h2>
    <h4 class="year">2016 - 2019</h4>
    

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                <span class="sv">Projektet utforskar forskare från Humlab i samarbete med Tekniska museet i Stockholm, 
                    med utgångspunkt i museets samlingar, den digitala teknikens möjligheter och industrialismens 
                    berättelser om samhälle, människor och miljöer. Projektet syftar till att från tre olika 
                    kulturarvsperspektiv undersöka digitaliseringens specificitet och potential som brygga 
                    mellan forskning, minnesinstitution och besökare. Föremål ur Tekniska museet 3d-scannades och 
                    återskapades i VR där det går att interagera med olika modeller och objekt. 
                    Tekniska museets årsbok digitaliserades och gjordes sökbar utifrån ett interaktivt gränssnitt.</span>
                <br/><br/>
                The research project ”Digital Models. Techno-historical collections, digital humanities & narratives 
                of industrialisation” (funded by the Royal Swedish Academy of Letters, History and Antiquities, 
                between 2016-19) is a collaboration between the Swedish National Museum of Science and Technology, 
                with a national responsibility for technical and industrial heritage, and the digital humanities hub, 
                HUMlab at Umeå University. Based on selected parts of the museum's collections the project aims to 
                explore the potential of digital technologies to reframe Swedish industrialisation and its stories
                about society, people and environments.
                
                <br/><br/>Read more at <a href="https://www.umu.se/forskning/projekt/digitala-modeller.-teknikhistoriens-samlingar-digital-humaniora--industrialismens-berattelser/" 
                target="_blank">umu.se</a>
            </p>
            <a class="explore-button" href="https://digitalamodeller.se/" target="_blank">Project Website ▶</a>

            <div class="project-image left">
                <img src="assets/digitalamodeller/DM-2.png" alt="Screenshot from 3D display program Shetchfab of rendered object"/>
                <span>Screenshot from Sketchfab displaying 3D model object.</span>
            </div>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <div class="two-col-people">
                    <ul>
                        <li><a href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                        <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                        <li><a href="https://www.umu.se/personal/jim-robertsson/">Jim Robertsson</a></li>
                        <li><a href="https://www.umu.se/personal/andreas-marklund/">Andreas Marklund</a></li>
                    </ul>

                    <ul>
                        <li><span>Previous</span></li>
                        <li>Anna Foka</li>
                    </ul>
                </div>
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>Pelle Snickars</li>
                    <li>Johan Jarlbrink</li>
                    <li>Tekniska museet Stockholm</li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <a href="https://www.rj.se/" target="_blank">
                        <img src="assets/riksbankens-jubileumsfond.png" alt="Riksdankens Jubileumsfond logotype">
                    </a>
                    <a href="https://www.vitterhetsakademien.se" target="_blank">
                        <img src="assets/Vitterhetsakademiens-logo.svg" alt="vitterhetsakademiens logotype">
                    </a>
                </div>
            </div>
            <div class="videoframe"> 
                <iframe title="Mechanical wooden model" frameborder="0" allowfullscreen mozallowfullscreen="true" 
                webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" 
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share 
                src="https://sketchfab.com/models/6b539f050ff548ad933670d0db91b645/embed?transparent=1">
            </iframe>
            </div>
        </div>

        <div class="right-container">
            <div class="videoframe">
                <iframe src="https://www.youtube.com/embed/kmNcoNoO2ec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="videoframe">
                <iframe src="https://www.youtube.com/embed/o-50LTZlXR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="info-box">
                The project uses three different <span>cultural heritage perspectives</span> to examine the specificity of digitisation 
                and its potential to bridge research, institutional heritage and interest from the general public.
            </p>
            <div class="project-image">
                <img src="assets/digitalamodeller/DM-3.png" alt="3D rendered objact with lines showing structure"/>
                <span>3D rendered object.</span>
            </div> 

            <div class="project-image">
                <img src="assets/digitalamodeller/DM-1.png" alt="3D wooden object">
                <span>Screenshot of 3D wooden object from Sketchfab</span>
            </div> 
        </div>
    </div>
</div>