<div>
    <h2 class="sub-header">Digitala modeller</h2>
    <div class="main-container">
        <div class="left-container">
            <div class="container-content">
                <p class="desc-text">
                    The research project ”Digital Models. Techno-historical collections, digital humanities & narratives of industrialisation” (funded by the Royal Swedish Academy of Letters, History and Antiquities, between 2016-19) is a collaboration between the Swedish National Museum of Science and Technology, with a national responsibility for technical and industrial heritage, and the digital humanities hub, HUMlab at Umeå University. Based on selected parts of the museum’s collections the project aims to explore the potential of digital technologies to reframe Swedish industrialisation and its stories about society, people and environments.
                    Read more at <a href="https://digitalamodeller.se/" target="_blank">https://digitalamodeller.se/</a>
                </p>
                <a href="https://digitalamodeller.se/" target="_blank"><div class="explore-button">Project Website ▶</div></a>

                <br /><br />
                <!--<img class="screenshot-image" src="assets/sead-screenshot-3.png" />-->
                <img class="screenshot-image" style="height:15vw;" src="assets/digitalamodeller/model2.png" />
                <img class="screenshot-image" style="height:15vw;" src="assets/digitalamodeller/model3.png" />
                
                <br /><br />
                
                <div class="people-box">
                    <h3>People @ Humlab</h3>
                    <ul>
                        <li><a class="people-link" href="https://www.umu.se/personal/mattis-lindmark/">Mattis Lindmark</a></li>
                        <li><a class="people-link" href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="container-content">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/kmNcoNoO2ec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/o-50LTZlXR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="info-box">
                    The project uses three different cultural heritage perspectives to examine the specificity of digitisation and its potential to bridge research, institutional heritage and interest from the general public.
                </p>    
                
            </div>
        </div>
    </div>
</div>