@import "src/site-variables";

h1 {
    font-size: 4em;
}

h1 a {
    text-decoration: none;
    color: $primary-accent-color;
}

#header hr {
    height: 1px;
    width: auto;
    background: #ccc;
}

#baseplate {
    height: 100vh;
    overflow: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    margin: auto;
    max-width: 3000px;
    font-family: $primary-font-family;
    color: #363432;
    font-weight: bold;
}

#tilescape-button {
    position: relative;
    top: 1em;
    left: -1em;
}

#tilescape-button ion-icon {
    font-size: 4em;
    color: #333;
    
}

