<div>
    <h2 class="sub-header">Project Headline</h2>
    <h4 class="year">2016 - 2020</h4>
    
    <div class="main-container">
        <div class="left-container">

            <p class="desc-text">
                <span class="sv">Här ska svenska beskrivningen vara</span>
                <br/><br/>
                HUMlab: Dissemination, audio manipulation, image & video packaging & distribution. Sound production.
                <br/><br/><a href="https://ikt.humlab.umu.se/RAVE/Video/VR-vid.mp4" target="_blank">Video about project</a>
            </p>

            <a class="explore-button" href="https://www.stereotyping.se/" target="_blank">Project Website ▶</a>
            
            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <div class="box humlab">
                <h3>People @ Humlab</h3>
                    <ul>
                        <li><a href="https://www.umu.se/personal/jim-robertsson/">Jim Robertsson</a></li>
                        <li><a href="https://www.umu.se/personal/jon-svensson/">Jon Svensson</a></li>
                        <li><a href="https://www.umu.se/personal/satish-stromberg/">Satish Strömberg</a></li>
                    </ul>              
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>Mats Deutchmann</li>
                    <li>Anders Steinvall</li>
                    <li>Institutionen för språkstudier</li>
                    <li>Örebro Universitet</li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <a href="https://" target="_blank">
                        <img src="assets/" alt="">
                    </a>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="right-container">

            <div class="project-image">
                <img src="" alt="">
                <span>Image text</span>
            </div>

            <!-- Info box - Small text with background -->
            <p class="info-box">Insert text here</p>
            
            <!-- Videoframe for example Youtube videos of project -->
            <div class="videoframe">
                <iframe src="https://www.youtube.com/embed/kmNcoNoO2ec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>