<div>
    <h2 class="sub-header">RAVE & C-RAVE</h2>
    <h4 class="year">2015–2020</h4>

    <div class="main-container">
        <div class="left-container">

            <p class="desc-text">
                <span class="sv">Syftet med projektet C-RAVE är att med metoder som 
                    motsvarar de utvecklade i RAVE utforska hur sociolingvistiska 
                    stereotyper konstrueras i en annan kulturell kontext, nämligen i den 
                    multi-etniska och matriarkala afrikanska staten Seychellerna.
                    <br/><br/>
                    Stereotyper och fördomar är kulturellt bundna. Det som anses vara 
                    en bra eller dålig egenskap i en kultur bedöms inte nödvändigtvis 
                    på samma sätt i en annan kultur. För att förstå sina egna mönster 
                    och beteenden och se på andra med öppnare och friare ögon kan 
                    tvärkulturella och interkulturella perspektiv vara upplysande. Det är 
                    i detta ljus om projektet C-RAVE ska förstås. Det föreslagna 5-årsprojektet 
                    bygger vidare på RAVE, finansierat av Vetenskapsrådet, vars övergripande 
                    syfte är att utveckla en effektiv metod för att belysa hur 
                    sociolingvistiskt grundade fördomar och stereotyper påverkar hur vi bedömer 
                    andra.</span>
                <br/><br/>
                Building on methods developed under RAVE, C-RAVE aims to explore how 
                socio-linguistic stereotypes are constructed in a different cultural 
                context, namely in the multi-ethnic and matriarchal African state Seychelles.

                <br/><br/>Stereotypes and prejudices are culturally bound. What is considered a 
                "good or bad" characteristic in one culture not necessarily deemed the same in 
                another. In order to understand our own patterns of behavior and view others with 
                more open eyes cross cultural and intercultural perspectives can be enlightening. 
                It is in this light C-RAVE is to be understood. The proposed five-year project 
                builds on RAVE, funded by the Swedish Research Council, and the overall aim is 
                to develop efficient methods to illustrate how sociolinguistic founded prejudices 
                and stereotypes affect how we judge others.
            </p>

            <a class="explore-button" href="https://www.stereotyping.se/" target="_blank">Project Website ▶</a>
            
            <div class="box humlab">
                <h3>People @ Humlab</h3>
                    <ul>
                        <li><a href="https://www.umu.se/personal/jim-robertsson/">Jim Robertsson</a></li>
                        <li><a href="https://www.umu.se/personal/jon-svensson/">Jon Svensson</a></li>
                        <li><a href="https://www.umu.se/personal/satish-stromberg/">Satish Strömberg</a></li>
                        <li><a href="https://www.umu.se/personal/roger-mahler/">Roger Mähler</a></li>
                    </ul>              
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>Mats Deutchmann</li>
                    <li>Anders Steinvall</li>
                    <li>Institutionen för språkstudier</li>
                    <li>Örebro Universitet</li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <a href="https://maw.wallenberg.org/" target="_blank">
                        <img src="assets/stiftelsenMAWM-logo.svgz" alt="Stiftelsen Marcus och Amalia Wallenbergs Minnesfond Logotyp">
                    </a>
                    <a href="https://vr.se" target="_blank">
                        <img src="assets/vr.png" alt="Vetenskapsrådet Logotyp">
                    </a>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="right-container">

            <div class="project-image">
                <img src="assets/rave+c-rave/rave.png" alt="Screenshot of the Rave website">
                <span>Screenshot of the projects website</span>
            </div>

            <!-- Info box - Small text with background -->
            <p class="info-box">More specifically C-RAVE will examine two dimensions of linguistic 
                stereotyping, gender and ethnicity. We aim to explore: <span>how responses to the same 
                material differ between two cultural contexts</span> (Sweden and the Seychelles), and 
                how methods can be developed for using the above findings as a starting point 
                for raising awareness about <span> stereotyping is culturally bound and how it may 
                differ from culture to culture.</span>
            </p>

            <div class="videoframe ">
                
                <h3 class="text-h3">See video:</h3>
                <iframe src="https://ikt.humlab.umu.se/RAVE/Video/VR-vid.mp4" 
                    title="IKT Humlab video player" frameborder="0" 
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; 
                    picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>