<div>
    <h2 class="sub-header">A showcase of current and completed Humlab projects</h2>
    <div id="main-grid-container">
        
        <a href="/sead">
            <div class="project-grid-tile">
                <div class="project-header-container">
                <img class="project-logo" src="assets/SEAD-logo-with-subtext.png" />
                </div>
                <div class="project-body-container">
                <img id="sead-screenshot" src="assets/sead-screenshot.png" />
                </div>
                <div class="year-ribbon">{{ getCurrentYear() }}</div>
            </div>
        </a>
    
        <a href="/visp">
            <div class="project-grid-tile">
                <div class="project-header-container">
                    <img class="project-logo" src="assets/VISP-logo-black.png" />
                </div>
                <img class="screenshot" src="assets/visp-screenshot-1.png" />
                <div class="year-ribbon">{{ getCurrentYear() }}</div>
            </div>
        </a>
        
        <a href="/westac">
            <div class="project-grid-tile">
                <div class="project-header-container">
                    <h3 style="font-family: monospace;">Welfare state analytics</h3>
                </div>
                <img class="screenshot" src="assets/westac-splash.png">
                <div class="year-ribbon">{{ getCurrentYear() }}</div>
            </div>
        </a>

        <!--
        <div class="project-grid-tile">
            <h3>HumInfra</h3>
        </div>
        <div class="project-grid-tile">
            <h3>InfraVis</h3>
        </div>
        -->

        <a href="/enida">
            <div class="project-grid-tile">
                <div class="project-header-container">
                    <h3>ENIDA</h3>
                </div>
                <img class="screenshot" src="assets/enida-screenshot-1.png">
                <div class="year-ribbon year-ribbon-archived">2019</div>
            </div>
        </a>

        <a href="/yrkesrum">
            <div class="project-grid-tile">
                <div class="project-header-container">
                    <h3>Yrkesrum</h3>
                </div>
                <img class="screenshot" src="assets/yrkesrum-screenshot-1.png">
                <div class="year-ribbon year-ribbon-archived">2018</div>
            </div>
        </a>

        <a href="/staden">
            <div class="project-grid-tile">
                <div class="project-header-container">
                    <h3>Staden</h3>
                </div>
                <img class="screenshot" src="assets/staden-screenshot-1.png">
                <div class="year-ribbon year-ribbon-archived">2014</div>
            </div>
        </a>

    </div>
</div>
