<div>
    <h2 class="sub-header">A showcase of current and completed projects at Humlab, Umeå University</h2>
    <div id="main-grid-container">
        
        <a href="/sead">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <img src="assets//sead/SEAD-logo-with-subtext.png" alt="SEAD logotype"/>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/sead/sead-screenshot.png" alt="Screenshot of SEAD tool"/>
                <ul class="infrastructure-tags">
                    <li class="swedigarch">SweDigArch</li>
                </ul>
            </div>
        </a>
    
        <a href="/visp">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <img class="project-logo" src="assets/visp/VISP-logo-black.png" alt="Visible Speech logotype"/>
                </div>
                <img class="screenshot-cover rowspan" src="assets/visp/screenshot2.png" alt="Screenshot of tool, soundwaves"/>
                <img class="screenshot-cover" src="assets/visp/screenshot4.png" alt="Screenshot of tool, interface" />
                <img class="screenshot-cover" src="assets/visp/screenshot3.png" alt="Screenshot of tool"/>
                <ul class="infrastructure-tags">
                    <li class="sweclarin">Swe-Clarin</li>
                </ul>
            </div>
        </a>

        <a href="/westac">
            <div class="project-grid-tile project-grid-tile-4-pane">
                <div class="project-header-container">
                    <h3 style="font-family: monospace; text-align: left;">Welfare state analytics</h3>
                </div>
                <img class="screenshot-cover" src="assets/westac/screenshot1.png" alt="Westac generic headline screenshot"/>
                <img class="screenshot-cover" src="assets/westac/screenshot-graph1.png" alt="Graph of data" />
                <img class="screenshot-cover" src="assets/westac/screenshot-graph2.png" alt="Graph of year data"/>
            </div>
        </a>        

        <a href="/linguistic-landscape">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Linguistic Landscape</h3>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/linguistic-landscape/linguistic-landscape-screenshot-1.png"
                alt="Screenshot of GIS-application of data in Umeå">
            </div>
        </a>

        <a href="/inidun">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>International Ideas at UNESCO</h3>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/inidun/inidun.png"
                alt="Inidun weebsite">
                           
            </div>
        </a>

        <a href="/infravis-sead">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>SEAD BugsCEP</h3>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/infravis-sead/seadbugs-screenshot.png" />
                <ul class="infrastructure-tags">
                    <li class="infravis">InfraVis</li>
                </ul>
            </div>
        </a>

<!-- ----------------------------- FINISHED PROJECTS ------------------------------------- -->
        <a href="/digital-periegesis">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Digital Periegesis</h3>
                    <h4>2018 - 2021</h4>
                </div>
                <img class="screenshot-cover rowspan" src="assets/digital-periegesis/digital-periegesis.png" />
                <img class="screenshot-cover" src="assets/digital-periegesis/digital-periegesis2.png" />
                <img class="screenshot-cover" src="assets/digital-periegesis/digital-periegesis-icons.png" />
            </div>
        </a>
        
        <a href="/iaccept">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>iAccept</h3>
                    <h4>2017 - 2021</h4>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/iaccept/iaccept.jpg" />
            </div>
        </a>

        <a href="/digitalamodeller">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Digitala modeller</h3>
                    <h4>2016 - 2019</h4>
                </div>
                <img class="screenshot-cover rowspan" src="assets/digitalamodeller/model3.png" />
                <img class="screenshot-cover" src="assets/digitalamodeller/model1.png" />
                <img class="screenshot-cover" src="assets/digitalamodeller/model2.png" />
            </div>
        </a>

        <a href="/enida">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>ENIDA</h3>
                    <h4>2019</h4>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/enida/enida-screenshot-1.png">
            </div>
        </a>

        <a href="/yrkesrum">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Yrkesrum</h3>
                    <h4>2018</h4>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/yrkesrum/yrkesrum1.png">
            </div>
        </a>

        <a href="/utopia">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Utopia</h3>
                    <h4>2017</h4>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/utopia/1.png">             
            </div>
        </a>

        <a href="/staden">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Staden</h3>
                    <h4>2014</h4>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/staden-screenshot-1.png">        
            </div>
        </a>

<!--         <a href="/ships">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>SHiPS</h3>
                    <h4>2009 - 2011</h4>
                </div>
                <img class="screenshot-cover colspan rowspan" src="assets/default.jpg" alt="">
            </div>
        </a> -->
    </div>
</div>
