.project-header-container > h3 {
    font-size: 2em;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#main-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 40px;
    justify-content: center;
    padding: 0 2em 0 2em;
}

#main-grid-container > a {
    text-decoration: none;
}

.project-grid-tile {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    height: 350px;
    transform: scale(1.0);
    animation-name: scale-ani-out;
    animation-duration: 0.1s;
    border-radius: 10px;
    padding: 1em;
    overflow: hidden;
    /* 
    border-style: solid;
    border-color: rgb(139, 139, 139);
    border-width: 2px; */
}

@media only screen and (max-width: 900px) {
    #main-grid-container {
        display: grid;
        grid-template-columns: 400px;
        grid-gap:40px;
        justify-content: center;
    }

    .project-grid-tile {
        height: 400px;
    }
}

.project-grid-tile-4-pane {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.project-grid-tile:hover {
    //box-shadow: 0 0 3vw 1vw rgba(255, 255, 0, 0.05);
    transform: scale(1.06);
    animation-name: scale-ani-in;
    animation-duration: 0.1s;
    cursor: pointer;
}

@keyframes scale-ani-in {
    from {transform: scale(1.0);}
    to {transform: scale(1.06);}
}

@keyframes scale-ani-out {
    from {transform: scale(1.06);}
    to {transform: scale(1.0);}
}

.colspan {
    grid-column: span 2;
}

.rowspan {
    grid-row: 2 / span 2;
}

.colrowspan {
    grid-column: span 2;
    grid-row: 2 / 3;
}

.split-pane-3-way {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tl tr"
    "bl br";
}

.split-pane {
    display:flex;
    height: 100%;
    width: 100%;
}

.split-pane img {
    object-fit: cover;
}

.pane-top {
    grid-column: 1;
    grid-column: 1 / span 2;
}

.pane-left {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.project-header-container {
    display: flex;
    justify-content: center;
}

.project-body-container {
    display: flex;
    justify-content: center;
}

.project-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.year-ribbon {
    position:absolute;
    top: 0.9em;
    right: -2em;
    background: rgb(24, 24, 122);
    //clip-path: polygon(25% 0, 90% 0%, 100% 100%, 0% 100%);
    transform: rotate(45deg);
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.4em 3em 0.4em 3em;
}

.year-ribbon-archived {
    background: rgb(145, 38, 38);
}

.infrastructur-tag {
    position: absolute;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    right: 1.5em;
    top: -5px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1em), 50% 100%, 0 calc(100% - 1em));
    writing-mode: vertical-lr;
    padding: 1em 0.4em 1.8em 0.4em;
}

.infravis {
    background-color: #3B3F92;
    opacity: 0.95;
}

.huminfra {
    background-color: #166d53;
}

.screenshot {
    width: 100%;
    object-fit: contain;
}

.screenshot-cover {
    height: 100%;
    max-height: 220px;
    width: 100%;
    object-fit: cover;
}