<div>
    <h2 class="sub-header">A showcase of current and completed Humlab projects</h2>
    <div id="main-grid-container">
        
        <a href="/sead">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <img src="assets/SEAD-logo-with-subtext.png" alt="SEAD logotype"/>
                </div>
                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot-cover"src="assets/sead-screenshot.png" alt="Screenshot of SEAD tool"/>
                </div>
<!--                 <div class="year-ribbon">{{ getCurrentYear() }}</div>
 -->            </div>
        </a>
    
        <a href="/visp">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <img class="project-logo" src="assets/visp/VISP-logo-black.png" alt="Visible Speech logotype"/>
                </div>
                <div class="split-pane-3-way colrowspan">
                    <div class="split-pane pane-left">
                        <img class="screenshot" src="assets/visp/screenshot2.png" alt="Screenshot of tool, soundwaves"/>
                    </div>
                    <div class="split-pane">
                        <img class="screenshot" src="assets/visp/screenshot4.png" alt="Screenshot of tool, interface" />
                    </div>
                    <div class="split-pane">
                        <img class="screenshot" src="assets/visp/screenshot3.png" alt="Screenshot of tool"/>
                    </div>
                </div>
                
                <!--<div class="year-ribbon">{{ getCurrentYear() }}</div>-->
            </div>
        </a>

        <a href="/westac">
            <div class="project-grid-tile project-grid-tile-4-pane">
                <div class="project-header-container">
                    <h3 style="font-family: monospace;">Welfare state analytics</h3>
                </div>

                <div class="screenshot-cover">
                    <img class="screenshot-cover" src="assets/westac/screenshot1.png" />
                </div>
                <div class="screenshot-cover">
                    <img class="screenshot-cover" src="assets/westac/screenshot-graph1.png" />
                </div>
                <div class="screenshot-cover">
                    <img class="screenshot-cover" src="assets/westac/screenshot-graph2.png" />
                </div>
                
                <!--<div class="year-ribbon">{{ getCurrentYear() }}</div>-->
            </div>
        </a>

        
<!--         <div class="project-grid-tile">
            <h3>HumInfra</h3>
        </div>
        <div class="project-grid-tile">
            <h3>InfraVis</h3>
        </div> -->
        

        <a href="/linguistic-landscape">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Linguistic Landscape</h3>
                </div>
                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot" src="assets/linguistic-landscape/linguistic-landscape-screenshot-1.png">
                </div>                
<!--                 <div class="year-ribbon">{{ getCurrentYear() }}</div>
 -->            </div>
        </a>

        <a href="/Infravis-sead">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>SEAD BugsCEP</h3>
                </div>
                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot-cover" src="assets/linguistic-landscape/linguistic-landscape-screenshot-1.png" />
                </div>
                <div class="infrastructur-tag infravis">
InfraVis
                </div>
            </div>
        </a>


        <a href="/digitalamodeller">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Digitala modeller</h3>
                </div>
                <div class="screenshot-cover rowspan">
                    <img class="screenshot-cover" src="assets/digitalamodeller/model3.png" />
                </div>
                <div class="screenshot-cover">
                    <img class="screenshot-cover" src="assets/digitalamodeller/model1.png" />
                </div>
                <div class="screenshot-cover">
                    <img class="screenshot-cover" src="assets/digitalamodeller/model2.png" />
                </div>
                
                <div class="year-ribbon year-ribbon-archived">2019</div>
            </div>
        </a>

        <a href="/enida">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>ENIDA</h3>
                </div>

                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot-cover" src="assets/enida-screenshot-1.png">
                </div>
                
                <div class="year-ribbon year-ribbon-archived">2019</div>
            </div>
        </a>

        <a href="/yrkesrum">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Yrkesrum</h3>
                </div>
                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot-cover" src="assets/yrkesrum/yrkesrum1.png">
                </div>
                
                <div class="year-ribbon year-ribbon-archived">2018</div>
            </div>
        </a>

        <a href="/utopia">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Utopia</h3>
                </div>
                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot-cover" src="assets/utopia/1.png">
                </div>
                
                <div class="year-ribbon year-ribbon-archived">2017</div>
            </div>
        </a>

        <a href="/staden">
            <div class="project-grid-tile">
                <div class="project-header-container colspan">
                    <h3>Staden</h3>
                </div>
                <div class="project-body-container colrowspan screenshot-cover">
                    <img class="screenshot-cover" src="assets/staden-screenshot-1.png">
                </div>
                
                <div class="year-ribbon year-ribbon-archived">2014</div>
            </div>
        </a>

    </div>
</div>
