<div>
    <h2 class="sub-header">Staden - An interactive video installation of a city rendered through dance</h2>

    <div class="main-container">
        <div class="left-container">
            <div class="container-content">
                <p class="desc-text">
                    This is the end result of an artistic research project.
                </p>
                <a href="https://staden.humlab.umu.se/" target="_blank"><div class="explore-button">Explore Application ▶</div></a>

                <br />
                
                <div class="people-box">
                    <h3>People @ Humlab</h3>
                    <ul>
                        <li><a class="people-link" href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="container-content">
                <img class="screenshot-image" src="assets/staden-screenshot-2.png" />
                <img class="screenshot-image" src="assets/staden-screenshot-3.png" />
                
            </div>
        </div>
    </div>
</div>