<div>
    <h2 class="sub-header">Staden<br/>An interactive video installation of a city rendered through dance</h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                This is the end result of an artistic research project developed in collaboration with the dance company <a target="_blank" href="https://www.nomodaco.com/">Nomodaco</a>. It is a video based interactive art installation. Read more at the <a target="_blank" href="http://www.nomodaco.com/production/discover-the-city/">Nomodaco project site</a>
            </p>
            <a class="explore-button" href="https://staden.humlab.umu.se/" target="_blank">Explore Application ▶</a>
            
            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/personal/johan-von-boer/">Johan von Boer</a></li>
                </ul>
            </div>
        </div>
        <div class="right-container">
            <div class="project-image">
                <img src="assets/staden-screenshot-2.png" />
                <span>Screenshot from application</span>
            </div>
            <div class="project-image">
                <img src="assets/staden-screenshot-3.png" />
                <span>Screenshot from application</span>
            </div>
        </div>
    </div>
</div>