<div>
    <h2 class="sub-header">Linguistic Landscape <br/>
    Platsskapande språk. En studie av språkliga landskap </h2>

    <div class="main-container">
        <div class="left-container">
            <p class="desc-text">
                This project focuses on linguistic landscapes in a traditionally linguistic rich area of Sweden, Norrland. The aim is to investigate how languages, as they materialize in our surroundings, contribute to the making of public spaces. Through a mixed-methods approach, we will describe and analyze which languages are visible and which are not, and relate these findings to demographic, socio-economic, educational and linguistic characteristics of different spaces. This will enable us to understand how urban and rural places are constructed by the use of majority, indigenous and minority languages.
                <br/><br/>Read more at <a href="https://www.umu.se/en/research/projects/the-language-of-place-making.-a-mixed-method-analysis-of-the-linguistic-landscapes/">https://umu.se</a>
            </p>
            <a class="explore-button" href="https://experience.arcgis.com/experience/aa499bbeff6c4d81811ecbc3c770417f/" target="_blank">Explore Application ▶</a>
            
            <div class="box humlab">
                <h3>People @ Humlab</h3>
                <ul>
                    <li><a href="https://www.umu.se/en/staff/coppelie-cocq/">Coppélie Cocq</a></li>
                    <li><a href="https://www.umu.se/personal/cenk-demiroglu/">Cenk Demiroglu</a></li>
                    <li><a href="https://www.umu.se/personal/kajsa-palm/">Kajsa Palm</a></li>
                </ul>
            </div>

            <div class="box cooperation">
                <h3>In cooperation with</h3>
                <ul>
                    <li>Lena Granstedt</li>
                    <li>Urban Lindgren</li>
                    <li>Eva Lindgren</li>
                </ul>
            </div>

            <div class="box financier">
                <h3>Financier</h3>
                <div class="financier-logo">
                    <a href="https://formas.se/" target="_blank">
                        <img src="assets/formas-logo.png" alt="Formas logotype">
                    </a>
                </div>
            </div>
        </div>

        <div class="right-container">
            <div class="project-image">
                <img src="assets/linguistic-landscape/linguistic-landscape-screenshot-1.png" alt="" class="screenshot-image" />
                <span>Linguistic Landscape main interface</span>
            </div>
        </div>
    </div>
</div>