$primary-font-family: 'Prompt', sans-serif;
$headline-font: 'Harlow Solid', 'Italianno', cursive;
$text-color: #f6f6f6;
$primary-accent-color: #196774;
$secondary-accent-color: #C95100;
$box-background-color: rgba(191, 191, 191, 0.5);
$font-weight: bold;

// UmU Colors -- NOT USED NOW
$umu-main-color: #2A4765;
$umu-accent-color-green: #73A790;
$umu-accent-color-yellow: #D7B17C;
$umu-accent-color-pink: #EABAB9;
