$primary-font-family: 'Prompt', sans-serif;
$headline-font: 'Harlow Solid', 'Italianno', cursive;
$text-color: #fff;
$primary-accent-color: #196774;
$secondary-accent-color: #C95100;
$box-background-color: rgba(191, 191, 191, 0.5);
$font-weight: bold;