/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Italianno&family=Prompt:ital,wght@0,100;1,300&display=swap');


@font-face {
    font-family: 'Harlow Solid';
    src: url('assets/HarlowSolidPlain.eot');
    src: url('assets/HarlowSolidPlain.eot?#iefix') format('embedded-opentype'),
        url('assets/HarlowSolidPlain.woff2') format('woff2'),
        url('assets/HarlowSolidPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Harlow Solid', 'Italianno', cursive;
    font-size: 4em;
    margin:0;
    color: #555;
}

h2 {
    margin-bottom: 3em;
}

.main-container {
    padding: 0 6em 0 6em;
}

.left-container {
    float: left;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-right: 1em;
}

.right-container {
    float: right;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 1em;
}

.desc-text {
    padding: 0 0 0 0.8em;
    font-size: 1.2em;
    font-weight: bold;
    border-left: 3px rgb(255, 123, 0) solid;
    grid-column: span 2;
    margin: 20px 0 0 0;
}

.explore-button {
    padding: 0.5em;
    background: rgb(255, 123, 0);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    font-family: 'Fugaz One';
    color: #fff;
    text-decoration: none;
    grid-column: span 2;
    justify-self: left;
}

.explore-button:hover {
    cursor:pointer;
    background: lighten(rgb(255, 123, 0), 10%);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.project-image {
    background-color: #ddd;
    padding: 0.5em;
    grid-column: span 2;
}

.project-image span {
    font-style: italic;
    font-size: 0.9em;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.info-box {
    background-color: #eee;
    padding: 2em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    text-align: justify;
    grid-column: span 2;
}

.text-highlight {
    font-weight: bold;
    font-style: italic;
}

.people-box {
    display: inline-block;
    width: auto;
    background-color: rgb(32, 32, 99);
    color: #fff;
    padding: 2em;
    margin-left: 0em;
}

.people-box ul {
    padding:0;
    margin:0;
}

.people-box li {
    list-style-type: none;
    font-size: 1em;
    font-weight: bold;
}

.people-box h3 {
    margin-top: 0;
    font-family: 'Fugaz One';
    font-weight: normal;
}

.people-link {
    color: #fff;
    text-decoration: none;
}

.people-link:hover {
    text-decoration: underline;
    //text-shadow: 0px 0px 0.5em rgba(255, 255, 255, 1.0);
}

.sub-header {
    font-size: 2em;
    margin-bottom: 1.5em;
    font-weight: bold;
    text-align: center;
}